{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2> Little Miss Books </h2>
        <p> Aby dodać kilku autorów, wpisz ich po przecinku


        </p>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <th>Title</th>
            <th>Authors</th>
            <th>Borrowed Date</th>
            <th>Check Borrow</th>
            <th>Check Return</th>
            <th>Delete book</th>
        </thead>
    {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.authors }}</td>
            <td>{{ book.borrowed_date }}</td>
            <form method="POST" action="{{ url_for('borrow_book', book_title= book.title) }}">
                <td><input type="submit" value="Borrow" name="btn" class="btn btn-primary" ></td>
            </form>
            <form method="POST" action="{{ url_for('return_book', book_title= book.title) }}">
                <td><input type="submit" value="Return" name="btn" class="btn btn-primary" ></td>
            </form>
            <form method="POST" action="{{ url_for('delete_book', book_title = book.title) }}">
                <td><input type="submit" value="Delete" name="btn" class="btn btn-primary" ></td>
            </form>
        </tr>
    {% endfor %}
    <form method="POST" action="{{ url_for('show_library') }}">
        {{ form.hidden_tag() }}
        <tr>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <td>{{ field }}</td>
            {% endfor %}
            <td></td>
            <td>
                <input type="submit" value="New Book" name="btn" class="btn btn-primary">
            </td>
        </tr>

    </form>
    </table>
</div>

{% endblock %}
